body {font:13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;/*font-family:Verdana,sans-serif;font-size:12px;color:#333;*/}
a{color:#0f7cc5;text-decoration:none;}
a:hover{color:#e57200;text-decoration:none;}
form fieldset input.submit, form fieldset button.submit {display: inline-block; font-weight: bold; color: #fff; background-color: #6fa11a; border: 1px solid #5a830f; border-radius: 2px; padding: 5px 10px; cursor: pointer;}

#page-container {}
	#page {text-align: left;}
		#header-container {background-color: #2969B3;}
			#header {width: 960px; margin: 0 auto;}
				#header a {color:#D2E4F8;}
				#header a:active {color: #eee;}
				#header-content {}
					#home-link {float: left; width: 150px;}
						#home-link a {display: inline-block;}
					#main-nav {float: right; width: 800px;text-align: right;}
						#user-nav {float: right;}
						#user-nav ul {}
						#user-nav ul li {display: inline-block; float: left; margin: 0 5px 0 5px;}
						#user-nav ul li a {}
						#global-search {float: right;}
						#global-search form {}
						#global-search form fieldset.search-field{float: right;}
						#global-search form fieldset.search-field input.search-text{}
						#global-search form fieldset.search-button{float: right;}
						#global-search form fieldset.search-button input.search-submit{}
		#canvas-container {margin: 10px 0;}
			#canvas {width: 960px; margin: 0 auto;}
				#canvas-content {}
					#content-container {}
					
						#content {float: none;}
							.action {}
								.action-header {}
								.action-content {}
								
						.sidebar-left #sidebar-left {float: left; width: 200px;}
							.sidebar-left #sidebar-left  .sidebar-content {}
						.sidebar-left #content {float: right; width: 750px;}
							.sidebar-left .action {}
								.sidebar-left .action-header {}
								.sidebar-left .action-content {}
						
						.sidebar-right #content {float: left; width: 600px;}
							.sidebar-right .action {}
								.sidebar-right .action-header {}
								.sidebar-right .action-content {}
									.sidebar-right .action-content .user-identity-container {background: #e9f2f9; padding: 10px;}
									.sidebar-right .action-content .user-identity-container .user-identity {}
									.sidebar-right .action-content .user-identity-container .user-identity .user-image{border: 2px solid #fff;width:170px; height: 170px; float: left; margin-right: 10px;}
									.sidebar-right .action-content .user-identity-container .user-identity .user-info{float: right; width: 396px;}
						.sidebar-right #sidebar-right {float: right; width: 350px; background-color:#f0f0f0;}
							.sidebar-right #sidebar-right .sidebar-content {padding: 10px;}
						
						.sidebars #sidebar-left {float: left;width: 190px;margin-right: 10px;}
							.sidebars #sidebar-left .sidebar-content {}
						.sidebars #content {float: left; width: 550px;}
							.sidebars .action {}
								.sidebars .action-header {}
								.sidebars .action-content {}
						.sidebars #sidebar-right {float: right; width: 200px;}
							.sidebars #sidebar-right .sidebar-content {}
							
							.sidebar-content .sidebar-content-inner {}
							.sidebar-content .sidebar-content-inner .sidebar-item{}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-header{border-bottom: 1px solid #ccc; margin-bottom: 5px;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-header .title{font-weight: bold; padding: 2px 0;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-header.clearfix .title{float: left;display: inline-block;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-header.clearfix .link{float: right;display: inline-block;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content{}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .user-identity{}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .user-identity .user-image{border: 2px solid #fff;width:170px; height: 170px; float: left; margin-right: 10px;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .user-identity .user-info{width: 146px; float: right;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block {}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block .aspect-link{}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block .aspect-contacts{}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block .aspect-contacts .aspect-contacts-row {}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block .aspect-contacts .aspect-contacts-row .aspect-contact-icon {float: left; width: 30px; height: 30px; border: 2px solid #fff; margin-right: 3px; margin-bottom: 3px;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block .aspect-contacts .aspect-contacts-row .aspect-contact-icon.second-to-last {margin-right: 0px;}
							.sidebar-content .sidebar-content-inner .sidebar-item .sidebar-item-content .aspect-block .aspect-contacts .aspect-contacts-row .aspect-contact-icon.last {margin-left: 3px;}
							.sidebar-content .sidebar-content-inner .break {height:0;border-top:1px solid #dadada;border-bottom:1px solid #fafafa;padding:0;margin: 10px 0;display:block;line-height:0}
						
		#footer-container {}
			#footer {width: 960px; margin: 0 auto;}
				#footer-content {}